---
layout: default
---
<div class="page-content">
  <div class="wrapper">
    <header class="page-header">
      <h1 class="page-title">{{ page.category | capitalize }}</h1>
      <p><a href="{{ site.baseurl }}/categories/">← All Categories</a></p>
    </header>

    {%- assign posts = site.posts | where: "categories", page.category | sort: "title" -%}
    {%- if posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in posts -%}
        <li>
          {%- if site.show_post_dates -%}
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          {%- endif -%}
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <p>No posts in this category.</p>
    {%- endif -%}
  </div>
</div>