---
layout: default
---
<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.show_posts and site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <div class="post-item-header">
          {%- assign date_format = site.mymadlab.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if post.categories and post.categories.size > 0 -%}
            <div class="post-categories">
              {%- for category in post.categories sorted -%}
                <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/" class="category-tag">{{ category | capitalize }}</a>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>